.main{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./apartments.jpg)
}

.secondary {
  padding: 20px;
  width: auto;
}

.headertxt{
  color: white;
  font-size: larger;
  font-weight: 500;
  padding-left: 20px;
  text-align: center;
}

.single{
  margin: 20px;
  padding: 10px;
  border: 2px solid #61dafb;
  background-color: #ddd;
  width: 70%;
}

.addnew{
  padding-left: 20px;
  display: inline;
}

.pickColor{
  width: 100px;
  height: 50px;
  border: 1px solid #282c34;
  background-color: white;
  border-radius: 5px;
  padding: 3px;
}

.paletteContainer{
  margin: 8px;
  padding: 5px;
  border: 1px solid white;
  width: fit-content
}

.onerow{
  display: grid;
  grid-template-columns: 25% 75%;
  width: auto;
  margin: 5px 0;
}

.leftlabel{
  left: 10px;
  font-size: medium;
}

.rightside{
  left: 200px;
}



#addItem{
  right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containter {
	width: 100%;
	height: 100%;
}

.Messaging {
	float: left;
	background-color: #cac;
	height: 100%;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.8);
}

.SendMessage {
	background-color: #cac;
	width: 100%;
	margin: 10px auto;
	padding: 10px;
	border-radius: 10px;
	
}
